# Dara Type

## Sequence Data type Strings

In [ ]:
S = "GoEduHub"
print(S)

GoEduHub

In [ ]:
S = "Welcome to GoEduHub"
print(S)
print(S[0])
print(S[1])
print(S[2])
print(S[3])
print(S[-5])
print(S[8:10])
print(S[3:8])
print(S[:7])
print(S[8:])
print(S[1:8:2])

Welcome to GoEduHub
W
e
l
c
d
to
come
Welcome
to GoEduHub
ecm

In [ ]:
print(S)
print(S[::-1]) #Reverse of whole string 
print(S[-1:-4:-1]) # Reverse a part of a string

Welcome to GoEduHub
buHudEoG ot emocleW
buH

## String Function italicized text

In [ ]:
S = "Hello GoEduHub"
len(S)

14

In [ ]:
S.upper()

'HELLO GOEDUHUB'

In [ ]:
S = "Hello"
S1 = "GoEduHub"
S2 = S +" "+ S1
print(S2)
print(S*2)
print("Z" in S)
print("o" in S)

Hello GoEduHub
HelloHello
False
True

## IF Condition

In [ ]:
# Largerst of 3 Number
A = int(input("Enter a Number - "))
B = int(input("Enter a Number - "))
C = int(input("Enter a Number - "))
if A > B and A > C:
  print("A is Largest")
  print("Number is ",A)
if B > A and B > C:
  print("B is Largest")
  print("Number is ",B)
if C > A and C > B:
  print("C is Largest")
  print("Number is ",C)
if A == B == C:
  print("All numbers are Equal")

Enter a Number - 20
Enter a Number - 40
Enter a Number - 20
B is Largest
Number is  40

In [ ]:
A = int(input("Enter Your Age - "))
if A >= 18:
  print("You are Eligible for Vac")
else:
  print("You are not Eligible")

Enter Your Age - 22
You are Eligible for Vac

## Loops

### For Loop

In [ ]:
# For Loop

S = "Hello"
for I in S:
  print(I)

H
e
l
l
o

In [ ]:
S1 = [10,20,30]
for Z in S1:
  print(Z)

10
20
30

In [ ]:
for I in range(5):
  print(I)

0
1
2
3
4

In [ ]:
X = input("Enter Name - ")
for I in X:
  print(I)

Enter Name - Pritam
P
r
i
t
a
m

In [ ]:
# Multiple or Table
X = int(input("Enter a Number - "))
for I in range(1,11):  # Start, Stop
  print(X," * ",I," = ",(X*I))

Enter a Number - 4
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40

In [ ]:
# Star Pattern
R = int(input("Enter Number of Rows - "))
for I in range(0,R):
  for J in range(I):
    print("*", end = "")
  print()

Enter Number of Rows - 8

*
**
***
****
*****
******
*******

In [ ]:
for I in range(6,0,-1):
  print(I)

6
5
4
3
2
1

Condition is Loop

In [ ]:
# Break Statement/ Break the Loop
for I in range(1,10):
  print(I)
  if(I == 6):
    break

1
2
3
4
5
6

In [ ]:
# Continue Statement
for I in range(1,11):
  if(I == 6):
    continue
  print(I)

1
2
3
4
5
7
8
9
10

In [ ]:
X = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
for I in X:
  if I % 2 == 0:
    print("G")
  else:
    print("N")

N
G
N
G
N
G
N
G
N
G
N
G
N
G
N
G

In [ ]:
# Pass Statement 
X = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
for I in X:
  if I % 2 == 0:
    pass
#    print("G")
  else:
    print(I)
#    print("N")

1
3
5
7
9
11
13
15

In [ ]:
# Pass Statement, continue Statement and Break Statement 
X = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
for I in X:
  if I == 3:
    continue
  if I % 2 == 0:
    pass
#    print("G")
  else:
    print(I)
#    print("N")
  if I == 9:
    break

1
5
7
9

## While Loop

In [ ]:
I = 0
X = "GoEduHub"
while I < len(X):
  print(I)
  I = I + 1

0
1
2
3
4
5
6
7

In [ ]:
# Break Statement
I = 0
X = "GoEduHub"
while I < len(X):
  if X[I] == "H":
    break
  print(I)
  I = I+1

0
1
2
3
4

In [ ]:
M = 1
N = 2
while M <= 10:
  print(N,"*",M,"=",N*M)
  M = M+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20