# List

In [ ]:
C1 = [1,2,3]
C2 = ["Apple","Orange","Banana","Mango","Grapes"]
L = []  #Empty List

In [ ]:
T = (1,2,3)
L1 = list(T)
print(T)

(1, 2, 3)

In [ ]:
# How to make a user imput list
A = []
B = int(input("Enter Number of strings - "))
for I in range(B):
  C = input("Enter any thing - ")
  A.append(C)   # Append add element in the end of list
print(A)

Enter Number of strings - 5
Enter any thing - 10
Enter any thing - 12
Enter any thing - 14
Enter any thing - 16
Enter any thing - 18
['10', '12', '14', '16', '18']

In [ ]:
# Accessing Elements of List

A[2]

'14'

In [ ]:
A[-1]

['14', '16']

In [ ]:
A[2:4]

['14', '16']

In [ ]:
# How to Update List
Z = [20,40,60,30,50,70]
Z[2] = 20
Z[4] = 100
print(Z)

[20, 40, 20, 30, 100, 70]

In [ ]:
# Insert is used to inser a value in a specific Position 
Z.insert(-2,"Pritam")
print(Z)

[20, 40, 20, 30, 'Pritam', 100, 70]

In [ ]:
Y = [22,24,26,28,["A","B","C"],30,32,34]
print(Y[2])
print(Y[4])
print(Y[2],Y[4],Y[6])

26
['A', 'B', 'C']
26 ['A', 'B', 'C'] 32

# Tuple

In [ ]:
X,Y =3,4
print(X,Y)

3 4

In [ ]:
A,B,C = 10,12,14
print(A,B,C)
print(B)

10 12 14
12

In [ ]:
T = ("A","B","C","D","E","F")
print(T)

('A', 'B', 'C', 'D', 'E', 'F')

In [ ]:
print("A" in T)

True

In [ ]:
T[0]

'A'

In [ ]:
T[-1]

'F'

In [ ]:
len(T)

6

In [ ]:
T1 = (1,2,3,4,"Ram")
T1

(1, 2, 3, 4, 'Ram')

# Dictionary

In [ ]:
D ={"Red":1,"Blue":2,"Green":3}
D

{'Blue': 2, 'Green': 3, 'Red': 1}

In [ ]:
D1 ={"Red":1,"Blue":2,"Green":3,"Name":"Pritam","N":10}
D1

{'Blue': 2, 'Green': 3, 'N': 10, 'Name': 'Pritam', 'Red': 1}

In [ ]:
# Creating a Dictionary by 2 list
X = ("Name","Roll","Sec")
Y = ("Pritam","20040","F3,BA3")
Z  = dict(zip(X,Y))
Z

{'Name': 'Pritam', 'Roll': '20040', 'Sec': 'F3,BA3'}

In [ ]:
Z.values() # It will give u all the vaue assigent to each keys

dict_values(['Pritam', '20040', 'F3,BA3'])

In [ ]:
Z.keys() # It will give u all the Keys

dict_keys(['Name', 'Roll', 'Sec'])

In [ ]:
Z.items()

dict_items([('Name', 'Pritam'), ('Roll', '20040'), ('Sec', 'F3,BA3')])

In [ ]:
for I in Z:
  print(I,"-")
  print(Z[I])

Name -
Pritam
Roll -
20040
Sec -
F3,BA3

OR

In [ ]:
for A in Z.values():
  print(A)

Pritam
20040
F3,BA3

In [ ]:
# Help to get the value assigned to the key
Z.get("Name")

'Pritam'

In [ ]:
# Update any value
Z["Name"] = "Pritam Poddar"
print(Z)

{'Name': 'Pritam Poddar', 'Roll': '20040', 'Sec': 'F3,BA3'}

In [ ]:
# Add new value with new Key
Z["DOB"] = "08/03/1997"
print(Z)

{'Name': 'Pritam Poddar', 'Roll': '20040', 'Sec': 'F3,BA3', 'DOB': '08/03/1997'}

In [ ]:
# Murge 2 Dictionary into One 
Z1 = {"Age":"24","Gender":"M"}
print(Z1)

Z.update(Z1)  # Z.update(Z1) where Z = Old Dictionary and Z1 = New Dictionary
print(Z)

{'Age': '24', 'Gender': 'M'}
{'Name': 'Pritam Poddar', 'Roll': '20040', 'Sec': 'F3,BA3', 'DOB': '08/03/1997', 'Gender': 'M', 'Age': '24'}

In [ ]:
#  Length of Dictionary
len(Z)

6

In [ ]:
#  Delete the key and value Assigend to the key
Z.pop("Age")  # Z.pop("Age"), where Age is the Key
print(Z)

{'Name': 'Pritam Poddar', 'Roll': '20040', 'Sec': 'F3,BA3', 'DOB': '08/03/1997', 'Gender': 'M'}

# SET
###Collection of unordered items
### Show Unique Values
###Chance the item

In [ ]:
S = {1,2,3,4,5,6}
print(S)
type(S)

{1, 2, 3, 4, 5, 6}

set

In [ ]:
R = ("A","B","C","D","E","F")
print(R)
type(R)

('A', 'B', 'C', 'D', 'E', 'F')

tuple

In [ ]:
S1 = {1,2,2,2,2,2,2,4,3,6,4,4,5,6}
print(S1)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Add in Set (Only one element can be added)
S1.add(7)
print(S1)

{1, 2, 3, 4, 5, 6, 7, 'Hello', '20040', 'Age-24', 'Poddar'}

In [ ]:
# For addeding more then one element we can use update 
S1.update(["Hello","Pritam","Poddar","Age-24","20040"])
print(S1)

{1, 2, 3, 4, 5, 6, 7, 'Hello', '20040', 'Age-24', 'Poddar', 'Pritam'}

In [ ]:
# Remove function is used to remove item from the Set
S1.remove("Pritam")
print(S1)

{1, 2, 3, 4, 5, 6, 7, 'Hello', '20040', 'Age-24', 'Poddar'}

In [ ]:
for Q in S1:
  print(Q)

1
2
3
4
5
6
7
Hello
20040
Age-24
Poddar